.work {
  	position: relative;
  	float: left;
  	width: 274px;
  	margin: 20px 0 25px;
  	overflow: auto;
}

.work:nth-child(even) {
  	margin-right: 40px;
}

.work img {
  	width: 100%;
  	border: 0 none;
  	opacity: 0.8;
}

.image-words {
  	position: absolute;
  	bottom: 30px;
  	width: 100%;
  	padding: 15px;
  	margin-bottom: 0;
  	font-weight: 300;
  	line-height: 1;
  	color: #ffffff;
  	text-align: center;
  	background: #4aaaa5;
  	border-bottom: 0;
  	text-decoration-line: none;
}

@media screen and (max-width: 640px) {
	.work {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 629px) {
	.work:nth-child(even) {
	  	margin-right: 0;
	}
}